.about__inner {
  @include inner-padding($padding-one);
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: $colour-gray-six;
}

.about__photo {
  text-align: center;
  line-height: 0;

  & img {
    width: 60%;
    border-radius: 50%;
  }
}

.about__header {
  @include header(h2);
}

.about__paragraph {
  @include paragraph($font-size-seven);
}

.about__link {
  color: $colour-black-one;
  
  &:active {
    color: $colour-black-two;
    font-weight: $font-bold;
  }
  
  &:hover {
    font-weight: $font-bold;
    color: $colour-gray-two;
  }
}

.about__list {
  padding: 0;
  margin: 0;
}

.about__list-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size-seven;
  line-height: $line-height-two;
  font-weight: $font-bold;
  text-align: left;
}

.about__element {
  position: relative;
  padding-left: 3rem;
  list-style: none;
  
  &::before {
    content: "";
    position: absolute;
    top: .6rem;
    left: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
  }
}

.about__element--one {
  &::before {
    background-image: url("../img/icon-globe-solid.svg");
  }
}

.about__element--two {
  &::before {
    background-image: url("../img/icon-html5.svg");
  }
}

.about__element--three {
  &::before {
    background-image: url("../img/icon-accessible.svg");
  }
}

.about__element--four {
  &::before {
    background-image: url("../img/icon-photoshop.svg");
  }
}

.about__divider {
  display: block;
  fill: $colour-gray-six;
  background-color: $colour-white-one;
}

// Tablet screen
@include screen-size($tablet-screen) {
  .about__inner {
    display: flex;
    padding: 0;
  }
  
  .about__photo {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    text-align: unset;
    order: 1;

    & img {
      width: 100%;
      border: none;
      border-style: none;
      border-radius: 0;
    }
  }

  .about__introduction {
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: $padding-one;
    padding-right: $padding-six;

    flex-grow: 0;
    flex-shrink: 1;
    width: 50%;
    flex-basis: 50%;
  }

  .about__divider {
    display: none;
  }
}

// Desktop Screen
@include screen-size($desktop-screen) {
  .about__introduction{
    padding-left: $padding-three;
    padding-right: $padding-six;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .about__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }

  .about__paragraph {
    font-size: $font-size-five;
    line-height: $line-height-two;
    margin-bottom: 8rem;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__element {
    padding-left: 6rem;
    width: 37%;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 37%;
    margin-bottom: 4rem;

    &::before{
      top: 0;
      height: 3rem;
      width: 3rem;
      background-size: 3rem 3rem;
    }
  }

  .about__list-header {
    font-size: $font-size-eight;
    line-height: 3rem;
  }
}