.form__name,
.form__email {
  padding-bottom: 2rem;
}

.form__label {
  display: block;
  font-size: $font-size-seven;
  line-height: $line-height-one;
  color: $colour-white-one;
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;

  @include inner-padding($padding-input);

  box-sizing: border-box;
  outline: 0;
  border: 0;
  color: $colour-white-one;
  font-size: $font-size-seven;
  line-height: $line-height-one;
  background-color: $colour-gray-two;
}

.form__input--text-area {
  margin-bottom: 2rem;
  min-height: 12rem;
  resize: none;
}

.form__button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include inner-padding($padding-six);

  border: none;
  background-color: $colour-brown-three;
  color: $colour-white-one;
  font-size: $font-size-seven;
  font-weight: $font-bold;
  line-height: $line-height-one;
  text-transform: uppercase;
  outline: none;

  &:hover {
    opacity: .7;
  }
  &:active {
    opacity: .3;
  }
}

// Desktop Screen
@include screen-size($desktop-screen) {
  .form {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  .form__label {
    font-size: $font-size-five;
    line-height: $line-height-two;
  }

  .form__input--text-area{
    resize: vertical;
  }

  .form__button {
    width: 18.5rem;
    height: 4.5rem;
    font-size: $font-size-five;
    line-height: $font-size-three;
  }
}