.title {
  @include img-retina("../img/fed-background-mobile@1x.jpg", "../img/fed-background-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 65vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title__inner {
  @include inner-padding($padding-three);
  text-align: center;
}

.title__header {
  @include header(h1);

  padding-top: 1rem;
  border-top: 0.1rem;
  border-top-style: solid;
  border-top-color: $colour-white-one;
  border-left: 0.1rem;
  border-left-style: solid;
  border-left-color: $colour-white-one;
}

.title__header-two{
  @include header(h1);

  padding-bottom: 1rem;
  border-bottom: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: $colour-white-one;
  border-right: 0.1rem;
  border-right-style: solid;
  border-right-color: $colour-white-one;
}

.title__link {
  display: block;
  margin: 0 auto;
  height: 4rem;
  width: 4rem;
  background-image: url("../img/icon-arrow-down.svg");
  background-size: 4rem 4rem;
  background-repeat: no-repeat;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .3;
  }
}

// Tablet screen
@include screen-size($tablet-screen) {
  .title {
    @include img-retina("../img/fed-background-tablet@1x.jpg", "../img/fed-background-tablet@2x.jpg");
    height: 100vh;
  }

  .title__inner {
    @include inner-padding($padding-five);
  }

  .title__header {
    font-size: $font-size-two;
    line-height: $line-height-two;
  }

  .title__header-two {
    margin-bottom: 3rem;
    font-size: $font-size-two;
    line-height: $line-height-two;
  }
}

// Desktop screen
@include screen-size($desktop-screen) {
  .title {
    @include img-retina("../img/fed-background-desktop@1x.jpg", "../img/fed-background-desktop@2x.jpg");
  }

  .title__header{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: $font-size-nine;
    font-weight: $font-regular;
    line-height: $line-height-six;
  }
  .title__header-two {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    font-size: $font-size-nine;
    font-weight: $font-regular;
    line-height: $line-height-six;
  }

  .title__link {
    height: 6rem;
    width: 6rem;
    background-size: 6rem 6rem;
  }
}