.title {
  background-image: url("../img/fed-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title__inner {
  padding-top: 15rem;
  padding-bottom: 15rem;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.title__header {
  margin: 0;
  margin-bottom: 2rem;
  color: $colour-white-one;
  font-size: $font-size-four;
  line-height: $line-height-one;
  font-weight: $font-bold;
  text-transform: uppercase;

  &:before {
    content: "";
    display: block;
    margin-bottom: 1rem;
    border-bottom: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: $colour-white-one;
  }
  
  &:after {
    content: "";
    display: block;
    margin-top: 1rem;
    border-top: 0.1rem;
    border-top-style: solid;
    border-top-color: $colour-white-one;
  }
}

.title__button {
  @include button($colour-white-one);
  
  &:hover {
    opacity: .7;
  }
  
  &:active {
    opacity: .3;
  }
}