.summary__divider {
  display: block;
  fill: $colour-white-one;
  background-color: $colour-gray-six;
}

.summary__inner {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.summary__header {
  @include header(h2);
}

.summary__paragraph {
  @include paragraph($font-size-seven);
}

@include screen-size($tablet-screen) {
  .summary__divider {
    display: none;
  }
}