.summary__divider {
  display: block;
  fill: $colour-white-one;
  background-color: $colour-gray-six;
}

.summary__inner {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.summary__header {
  @include header(h2);
}

.summary__paragraph {
  @include paragraph($font-size-seven);
}

@include screen-size($tablet-screen) {
  .summary__divider {
    display: none;
  }
}

@include screen-size($desktop-screen) {
  .summary__inner {
    padding-left: 13.25%;
    padding-right: 13.25%;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .summary__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }

  .summary__paragraph {
    font-size: $font-size-five;
    line-height: $line-height-two;
  }
}