.education__inner {
  @include inner-padding($inner-wrapper-padding-one);

  &:after{
    content:"";
    display: block;
    margin-top: 2rem;
    width: 100%;
    border: 0.05rem;
    border-style: solid;
    border-color: $colour-black-one;
  }
}

.education__header {
  @include header(h2);
}

.education__name {
  margin: 0;
  line-height: 2.5rem;
  font-size: $font-size-six;
  font-weight: $font-bold;
  text-transform: capitalize;
}

.education__paragraph {
  @include paragraph($font-size-seven);
}

.education__list {
  padding: 0;
  margin: 0;
  list-style: none;
}