.work__inner{
  @include inner-padding($inner-wrapper-padding-one);
}

.work__header {
  @include header(h2);
}

.work__paragraph{
  @include paragraph($font-size-seven);
}

.work__list{
  padding: 0;
  margin:0;
  list-style: none;
}

.work__element {
  padding-bottom: 1rem;
}

.work__name{
  @include header(h3);
}

.work__company{
  @include paragraph($font-size-seven);
  text-transform: uppercase;
  font-weight: $font-bold;  
}

.work__dates{
  @include paragraph($font-size-seven);
}

.work__duties {
  @include paragraph($font-size-seven);
}

@include screen-size($desktop-screen){
  .work {
    width: 45%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
  }

  .work__inner {
    padding-left: 0;
    padding-right: 0rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .work__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }

  .work__name {
    font-size: $font-size-four;
    line-height: $line-height-one;
    padding-bottom: 2rem;
  }

  .work__company {
    font-size: $font-size-four;
    line-height: $line-height-one;
  }

  .work__dates,
  .work__duties {
    font-size: $font-size-five;
    line-height: $line-height-two;
  }
}