.portfolio__inner {
  @include inner-padding($inner-wrapper-padding-one);
  background-color: $colour-gray-six;
}

.portfolio__header {
  @include header(h2);
}

.portfolio__paragraph {
  @include paragraph($font-size-seven);
}

.portfolio__wrapper {
  padding-top: 2rem;
  text-align: center;
}

.portfolio__link {
  &:active {
    color: $colour-black-one;
  }
}

.portfolio__thumbnail {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    opacity: .7;
  }
}

// Tablet screen
@include screen-size($tablet-screen){
  .portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio__link {
    width:45%;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 45%;
  }
}

// Desktop screen
@include screen-size($desktop-screen){
  .portfolio__inner {
    padding-left: 13.25%;
    padding-right: 13.25%;
    padding-bottom: 7rem;
    padding-top: 7rem;
  }

  .portfolio__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }  

  .portfolio__paragraph {
    font-size: $font-size-five;
    line-height: $line-height-two;
  }

  .portfolio__wrapper {
    justify-content: flex-start;
  }

  .portfolio__link {
    flex-basis: 30%;
    margin-right: 4.5rem;

    &:nth-child(3n) { 
      margin-right: 0;
    }
  }
}