.portfolio__inner {
  @include inner-padding($padding-one);
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: $colour-gray-six;
}

.portfolio__header {
  @include header(h2);
}

.portfolio__paragraph {
  @include paragraph($font-size-seven);
}

.portfolio__list {
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.portfolio__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__link {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    opacity: .7;
  }
}

// Tablet screen
@include screen-size($tablet-screen){
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio__item {
    width:45%;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 45%;
  }
}

// Desktop screen
@include screen-size($desktop-screen){
  .portfolio__inner {
    @include inner-padding($padding-three);
    padding-bottom: 7rem;
    padding-top: 7rem;
  }

  .portfolio__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }  

  .portfolio__paragraph {
    font-size: $font-size-five;
    line-height: $line-height-two;
  }

  .portfolio__list {
    justify-content: flex-start;
  }

  .portfolio__item {
    flex-basis: 30%;
    margin-right: 4.4rem;

    &:nth-child(3n) { 
      margin-right: 0;
    }
  }
}