.resume__inner {
  @include inner-padding($padding-one);
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: $colour-gray-six;
}

.resume__header {
  @include header(h2);
}

.resume__paragraph {
  @include paragraph($font-size-seven);
}

.resume__link {
  text-decoration: none;
}

.resume__button {
  @include button($colour-green-two);
  width: 11rem;

  &:hover {
    opacity: .5;
  }

  &:active {
    opacity: .3;
  }
}

// Tablet Screen
@include screen-size($tablet-screen){
  .resume__inner {
    text-align: center;
  }

  .resume__paragraph {
    text-align: center;
  }

  .resume__button {
    margin: 0 auto;
  }
}

// Desktop screen
@include screen-size($desktop-screen) {
  .resume__inner {
    @include inner-padding($padding-three);
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .resume__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }

  .resume__paragraph {
    font-size: $font-size-five;
    line-height: $line-height-two;
    margin-bottom: 4rem;
  }

  .resume__button {
    width: 18.5rem;
    height: 4.5rem;
    font-size: $font-size-five;
    line-height: $line-height-five;
  }
}