.resume__inner {
  @include inner-padding(10%);
  background-color: $colour-gray-six;
}

.resume__header {
  @include header(h2);
}

.resume__paragraph {
  @include paragraph($font-size-seven);
}

.resume__button {
  @include button($colour-green-two);

  &:hover {
    opacity: .5;
  }

  &:active {
    opacity: .3;
  }
}

@include screen-size($tablet-screen){
  .resume__inner {
    text-align: center;
  }

  .resume__paragraph {
    text-align: center;
  }
}