.contact__inner {
  @include inner-padding(10%);
  background-color: $colour-brown-one;
}

.contact__header {
  @include header(h2);
  color: $colour-white-one;
}

.contact__paragraph {
  @include paragraph($font-size-seven);
  color: $colour-gray-three;
}

.contact__email {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size-seven;
  line-height: $line-height-one;
  color: $colour-white-one;
  text-align: justify;

  &::after{
    content: "zasadzkimarcin@gmail.com";
    color: $colour-gray-three;
    margin-left: 1.5rem;
  }
}
.contact__phone {
  @include paragraph($font-size-seven);
  color: $colour-white-one;

  &::after{
    content: "+44 7474151958";
    color: $colour-gray-three;
    margin-left: 1rem;
  }
}

@include screen-size($desktop-screen){
  .contact__inner{
    display: flex;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 13.25%;
    padding-right: 13.25%;
  }

  .contact__description{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  .contact__header{
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }

  .contact__paragraph,
  .contact__email,
  .contact__phone {
    font-size: $font-size-five;
    line-height: $line-height-two;
  }
}