.contact__inner {
  @include inner-padding(10%);
  background-color: $colour-brown-one;
}

.contact__header {
  @include header(h2);
  color: $colour-white-one;
}

.contact__paragraph {
  @include paragraph($font-size-seven);
  color: $colour-gray-three;
}

.contact__email {
  @include paragraph($font-size-seven);
  margin-bottom: 0;
  color: $colour-white-one;

  &::after{
    content: "zasadzkimarcin@gmail.com";
    color: $colour-gray-three;
    margin-left: 15px;
  }
}
.contact__phone {
  @include paragraph($font-size-seven);

  color: $colour-white-one;

  &::after{
    content: "+44 7474151958";
    color: $colour-gray-three;
    margin-left: 10px;
  }
}