.skills__inner {
  @include inner-padding($inner-wrapper-padding-one);
}

.skills__header {
  @include header(h2);
}

.skills__paragraph {
  @include paragraph($font-size-seven)
}

.skills__link {
  text-decoration: none;
}

.skills__button {
  @include button($colour-green-two);
  width: 10rem;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .3;
  }
}

.skills__list {
  padding-top: 3rem;
  padding-left:0;
  margin: 0;
  list-style: none;
}

.skills__element {
  position: relative;
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.skills__name {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 16rem;
  width: 16rem;
  margin: 0;
  line-height: 2.5rem;
  font-size: $font-size-six;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.skills__bar {
  position: relative;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  width: 100%;
  height: 2.5rem;
  background-color: $colour-gray-six;

  &::after {
    content: "50%";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 2.5rem;
    font-size: $font-size-seven;
    line-height: 2.5rem;
    color: $colour-white-one;
    background: $colour-green-one;
    text-align: right;
  }
}

// Tablet screen
@include screen-size($tablet-screen) {
  .skills__link {
    display: block;
    text-align: center;
  }

  .skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skills__element {
    width: 45%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
  }
}

// Desktop screen
@include screen-size($desktop-screen){
  .skills__inner{
    display: flex;
    padding-left: 13.25%;
    padding-right: 13.25%;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .skills__description{
    width:50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    padding-right: 8rem;
  }

  .skills__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }

  .skills__paragraph {
    font-size: $font-size-five;
    line-height: $line-height-two;
    margin-bottom: 4rem;
  }

  .skills__list {
    display: block;
    width:50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  .skills__element {
    width: 100%;
  }

  .skills__link {
    text-align: left;
  }
  .skills__button {
    width: 18.5rem;
    height: 4.5rem;
    font-size: $font-size-five;
    line-height: $font-size-three;
  }
}