.skills__inner {
  @include inner-padding($padding-one);
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.skills__header {
  @include header(h2);
}

.skills__paragraph {
  @include paragraph($font-size-seven)
}

.skills__link {
  @include button($colour-green-two, $font-size-five);
  
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  text-decoration: none;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .3;
  }
}

.skills__list {
  padding-top: 3rem;
  padding-left:0;
  margin: 0;
  list-style: none;
}

.skills__element {
  position: relative;
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.skills__name {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 16rem;
  width: 16rem;
  margin: 0;
  line-height: 2.5rem;
  font-size: $font-size-six;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.skills__bar {
  position: relative;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  width: 100%;
  height: 2.5rem;
  background-color: $colour-gray-six;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 0.4rem;
    width: 50%;
    height: 2.5rem;
    font-size: $font-size-seven;
    line-height: 2.5rem;
    color: $colour-white-one;
    background: $colour-green-one;
    text-align: right;
  }
}

.skills__bar--html{
  &::after{
    content: "90%";
    width: 90%;
    @include animation('html', 3s)
  }
}

.skills__bar--css{
  &::after{
    content: "90%";
    width: 90%;
    @include animation('css', 3s)
  }
}

.skills__bar--js{
  &::after{
    content: "50%";
    width: 50%;
    @include animation('js', 3s)
  }
}

.skills__bar--sass {
  &::after{
    content: "60%";
    width: 60%;
    @include animation('sass', 3s)
  }
}

.skills__bar--bem {
  &::after{
    content: "80%";
    width: 80%;
    @include animation('bem', 3s)
  }
}

.skills__bar--npm {
  &::after{
    content: "60%";
    width: 60%;
    @include animation('npm', 3s)
  }
}

.skills__bar--gulp {
  &::after{
    content: "60%";
    width: 60%;
    @include animation('gulp', 3s)
  }
}

.skills__bar--flexbox {
  &::after{
    content: "90%";
    width: 90%;
    @include animation('flexbox', 3s)
  }
}

.skills__bar--git {
  &::after{
    content: "55%";
    width: 55%;
    @include animation('git', 3s)
  }
}

@include keyframe('html', 90%);
@include keyframe('css', 90%);
@include keyframe('js', 50%);
@include keyframe('sass', 60%);
@include keyframe('bem', 80%);
@include keyframe('npm', 60%);
@include keyframe('gulp', 60%);
@include keyframe('flexbox', 90%);
@include keyframe('git', 55%);


// Tablet screen
@include screen-size($tablet-screen) {
  .skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skills__element {
    width: 45%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
  }
}

// Desktop screen
@include screen-size($desktop-screen){
  .skills__inner{
    display: flex;

    @include inner-padding($padding-three);

    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .skills__description{
    width:50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    padding-right: 8rem;
  }

  .skills__header {
    font-size: $font-size-two;
    margin-bottom: 5rem;
  }

  .skills__paragraph {
    font-size: $font-size-five;
    line-height: $line-height-two;
    margin-bottom: 4rem;
  }

  .skills__list {
    display: block;
    width:50%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  .skills__element {
    width: 100%;
  }

  .skills__link {
    width: 20rem;
  }
}
