$font-size-default: 10px !default;

$font-size-one: 6rem;
$font-size-two: 3rem;
$font-size-three: 2.4rem;
$font-size-four: 2.2rem;
$font-size-five: 1.8rem;
$font-size-six: 1.6rem;
$font-size-seven: 1.4rem;

$font-family: 'Roboto', sans-serif;
$font-regular: 400;
$font-bold: 700; 

$line-height-one : 2.4rem;
$line-height-two : 3rem;
$line-height-two : 3.6rem;

$colour-white-one: #fff;

$colour-black-one: #000;
$colour-black-two: rgba($colour-black-one, 0.6);

$colour-brown-one: #252e30;
$colour-brown-two: rgba($colour-brown-one, 0.9);

$colour-gray-one: #797878;
$colour-gray-two: #4b5456;
$colour-gray-three: #919191;
$colour-gray-four: #566366;
$colour-gray-six: #f2f2f1;

$colour-gray-three: rgba($colour-gray-one, 0.6);
$colour-gray-four: rgba($colour-gray-one, 0.9);


