@mixin button($colour, $fontSize) {
  display: block;
  border: .2rem;
  border-style: solid;
  border-color: $colour;
  background: transparent;
  color: $colour;
  font-size: $fontSize;
  font-weight: $font-bold;
  line-height: $line-height-two;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}