@mixin header ($size) {
  margin-top: 0;
  @if $size==h1 {
    margin-bottom: 2rem;
    color: $colour-white-one;
    font-size: $font-size-four;
    line-height: $line-height-one;
  }

  @else if $size==h2 {
    margin-bottom: 1rem;
    color: $colour-gray-four;
    font-size: $font-size-five;
    line-height: $line-height-one;
  }

  @else if $size==h3 {
    margin-bottom: 1rem;
    color: $colour-gray-four;
    font-size: $font-size-six;
    line-height: 2.5rem;
  }

  font-weight: $font-bold;
  text-transform: uppercase;
}