.nav-menu {
  position: relative;
}

.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 50rem;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.nav-menu__element {
  height: 6rem;
  color: $colour-white-one;
  text-align: center;
  border-bottom: .1rem solid;
  border-color: $colour-gray-three;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
}

.nav-menu__link {
  display: block;
  color: $colour-white-one;
  font-size: $font-size-five;
  font-weight: $font-bold;
  line-height: 6rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $colour-brown-one;

  &:hover {
    color: $colour-white-one;
    background-color: $colour-brown-two;
  }

  &:active {
    color: $colour-black-two;
    background-color: $colour-gray-four;
  }
}

.nav-menu__link--active {
  color: $colour-gray-one;
}

.nav-menu__toggle {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  display: block;
  height: 2.2rem;
  width: 2.2rem;
  background-image: url("../img/icon-cross--white.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;

  @include hide-text();

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .3;
  }
}

.nav-menu--close {
  .nav-menu__list {
    max-height: 0;
  }

  .nav-menu__toggle {
    background-image: url("../img/icon-menu--white.svg");
  }
}

// Tablet Screen
@include screen-size($tablet-screen) {
  .nav-menu__list {
    display: flex;
    flex-direction: row;
    background-color: $colour-brown-one;
  }

  .nav-menu__element {
    display: inline-block;
    margin-right: 3%;
    border: none;

    &:first-child {
      margin-left: 5%;
    }
  }

  .nav-menu__link {
    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }

  .nav-menu__toggle {
    display: none;
  }

  .nav-menu--close {
    .nav-menu__list  {
      max-height: none;
      transition: none;
    }
  }
}

// Desktop screen
@include screen-size($desktop-screen) {
  .nav-menu {
    position: absolute;
    bottom: 0;
    height: 6rem;
    width: 100%;
  }

  .nav-menu__list {
    height: 6rem;
  }
  .nav-menu__element {
    margin-right: 4rem;
    
    &:first-child {
      margin-left: 10%;
    }
  }
  
  .nav-menu__link {
    line-height: 6rem;
  }
}